.nav__link--theme{
  color: $nav__font--color;
  text-decoration: none;
  font-size: 13px;

  &:hover{
    color: $nav__font--hover;
  }
}
.link--more{
  text-decoration: none;
  font-size: 13px;
  color: $more__font--color;
  cursor: pointer;
}
